/* Inserta tu CSS aqui */
.caja {
	width: 200px;
	height: 200px;	
}
.red {
    background-color: #ee3e64;
    
}
.blue {
    background-color: #44accf;
    position: absolute;
    left: 208px;
}
.green {
    background-color: #b7d84b;
    
}
.yellow {
	background-color: yellow;
	
}