/* Inserta tu CSS aqui */
.caja {
	width: 200px;
	height: 200px;
	position: relative;
	
}
.red {
    background-color: #ee3e64;
}
.blue {
    background-color: #44accf;
    margin-left: 200px;
}
.green {
    background-color: #b7d84b;
}
